.admin-updated{
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 10%;
    position: fixed;
    z-index: 1000001;
    right: 5%;
    bottom: 5%;
    text-align :center;
    visibility: hidden;
}
.wayne-setting-name{
    width: 400px;
}
.wayne-setting-choose{
    width: 200px;
}